---
header_image_url: ../img/header-darker-min.jpg
---

$header-font: Oswald, Helvetica, Arial, sans-serif;
$body-font: Merriweather, Georgia, serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url({{page.header_image_url}}) center/cover no-repeat fixed;
    height: 60vh;
    padding: 5%;
    color: #eee;
}

h1, h4 {
    margin-bottom: 0.25em;
}

h1 { font-family: $header-font }
h4 { font-family: $body-font }

h1 {
    font-size: 7rem;
    text-transform: uppercase;
}

h4 {
    font-size: 2.5rem;
}

#stories-container {
    width: 90%;
    margin: 3.33% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-sizer, .grid-item {
    width: 30%;
}

.grid-item {
    margin-bottom: 3.33%;
}

.gutter-sizer {
    width: 3.33%;
}

.portrait {
    width: 100%;
}