---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="title" content="{{site.title}}">
        <meta name="description" content="{{site.description}}"> 
        <!--TODO: favicon-->
        <title>{{site.title}}</title>
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Oswald:400,700" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

        <header>
            <h1>{{site.title}}</h1>
            <h2>{{site.subtitle}}</h2>

            <p>{{site.description}}</p>

            <nav>
                {% for link in site.header_links %}
                <a href="{{link.url}}" class="button">{{link.title}}</a>
                {% endfor %}
            </nav>
        </header>
        
        <section>
            <div id="stories-container" class="container grid">
                <div class="grid-sizer"></div>
                <div class="gutter-sizer"></div>
                
                {% for story in site.stories_data %}
                <article class="story grid-item">
                    <img src="{{story.photo_url | prepend:site.url}}" alt="{{story.author}}" class="portrait">

                    <div class="caption">
                        <div class="story-info">
                            <h3>{{story.title}}</h3>
                            <p>{{story.author}}</p>
                        </div>
                        
                        <a class="play-circle">
                            <div class="play-triangle"></div>
                        </a>
                    </div>
                </article>
                {% endfor %}

                <!--<a class="button" id="more-stories-button">Show All Stories</a>-->
            </div>
        </section>

        <script>
            /* hiddenArticles = document.querySelectorAll('#stories-container article:nth-child(n+6)');
            console.log(hiddenArticles);

            document.getElementById('more-stories-button').addEventListener('click', function() {
                hiddenArticles.forEach((article) => {
                    article.classList.add('visible');
                })
            }); */

            var grid = document.querySelector('.grid');
            var msnry = new Masonry( grid, {
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                gutter: '.gutter-sizer',
                percentPosition: true
            });
            imagesLoaded( grid ).on( 'progress', function() {
                msnry.layout();
            });
        </script>
    </body>
</html>